In [1]:
import numpy as np
import pandas as pd

In [2]:
stroke_df=pd.read_csv("Stroke.csv")

In [44]:
stroke_df.head()

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,51676,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,NaN,never smoked,1
2,31112,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
3,60182,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
4,1665,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1

In [4]:
stroke_df.sample(10)

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
2834,49084,Male,20.00,0,0,No,Private,Urban,57.51,21.4,Unknown,0
5008,48109,Female,79.00,0,1,Yes,Private,Rural,88.51,24.5,never smoked,0
586,55420,Female,42.00,0,0,No,Private,Rural,139.77,27.7,Unknown,0
2770,11544,Female,34.00,0,0,Yes,Private,Urban,71.37,32.9,never smoked,0
2495,34383,Male,46.00,0,0,Yes,Private,Urban,88.23,25.8,Unknown,0
4948,66405,Female,31.00,0,0,Yes,Private,Urban,117.31,28.4,never smoked,0
232,68356,Female,73.00,0,0,Yes,Self-employed,Urban,70.94,34.4,never smoked,1
1558,57798,Male,12.00,0,0,No,children,Rural,127.25,28.2,Unknown,0
1134,47848,Male,1.56,0,0,No,children,Rural,93.74,20.1,Unknown,0
2572,50363,Female,73.00,1,0,Yes,Private,Rural,60.98,29.9,formerly smoked,0

In [5]:
stroke_df.shape

(5110, 12)

In [7]:
stroke_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5110 entries, 0 to 5109
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 5110 non-null   int64
 1   gender             5110 non-null   object
 2   age                5110 non-null   float64
 3   hypertension       5110 non-null   int64
 4   heart_disease      5110 non-null   int64
 5   ever_married       5110 non-null   object
 6   work_type          5110 non-null   object
 7   Residence_type     5110 non-null   object
 8   avg_glucose_level  5110 non-null   float64
 9   bmi                4909 non-null   float64
 10  smoking_status     5110 non-null   object
 11  stroke             5110 non-null   int64
dtypes: float64(3), int64(4), object(5)
memory usage: 479.2+ KB

1. Write a Pandas program to select the rows where gender is 'Female'.

In [11]:
stroke_df[stroke_df["gender"]=="Female"]

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
1,51676,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,NaN,never smoked,1
3,60182,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
4,1665,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1
7,10434,Female,69.0,0,0,No,Private,Urban,94.39,22.8,never smoked,1
8,27419,Female,59.0,0,0,Yes,Private,Rural,76.15,NaN,Unknown,1
...,...,...,...,...,...,...,...,...,...,...,...,...
5104,14180,Female,13.0,0,0,No,children,Rural,103.08,18.6,Unknown,0
5105,18234,Female,80.0,1,0,Yes,Private,Urban,83.75,NaN,never smoked,0
5106,44873,Female,81.0,0,0,Yes,Self-employed,Urban,125.20,40.0,never smoked,0
5107,19723,Female,35.0,0,0,Yes,Self-employed,Rural,82.99,30.6,never smoked,0
5109,44679,Female,44.0,0,0,Yes,Govt_job,Urban,85.28,26.2,Unknown,0

In [12]:
stroke_df["gender"]=="Female"

0       False
1        True
2       False
3        True
4        True
        ...
5105     True
5106     True
5107     True
5108    False
5109     True
Name: gender, Length: 5110, dtype: bool

2. Write a Pandas program to get the record of a) maximum and b) minimum 'avg_glucose_level' for females.

In [34]:
stroke_df.query("gender=='Female'").agg({'avg_glucose_level': ['mean', 'min', 'max']})

      avg_glucose_level
mean         104.057809
min           55.120000
max          267.760000

3. Convert the first character of each element in column 'smoking_status' (in the original dataset, not female only df) to uppercase.

In [40]:
smoking_status_uppercase = stroke_df["smoking_status"].map(lambda x: x[0].upper() + x[1:-1] + x[-1])

In [41]:
smoking_status_uppercase

0       Formerly smoked
1          Never smoked
2          Never smoked
3                Smokes
4          Never smoked
             ...
5105       Never smoked
5106       Never smoked
5107       Never smoked
5108    Formerly smoked
5109            Unknown
Name: smoking_status, Length: 5110, dtype: object

4. Define a new column (in original df) that lables the records based on the 'avg_glucose_level'. Name this new column 'classification'. Use the following: <br>
if x < 125; normal<br>
if 125 =< x <= 200; high<br>
if x > 200; very high<br>
(x is 'avg_glucose_level')

In [52]:
# create a list of our conditions
conditions = [
    (stroke_df['avg_glucose_level'] <= 125),
    (stroke_df['avg_glucose_level'] > 125) & (stroke_df['avg_glucose_level'] <= 200),
    (stroke_df['avg_glucose_level'] > 200) ,
     ]

# create a list of the values we want to assign for each condition
values = ['normal', 'high', 'very high']

# create a new column and use np.select to assign values to it using our lists as arguments
stroke_df['classification'] = np.select(conditions, values)

In [53]:
stroke_df

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke,classification
0,9046,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1,very high
1,51676,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,NaN,never smoked,1,very high
2,31112,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1,normal
3,60182,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1,high
4,1665,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1,high
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5105,18234,Female,80.0,1,0,Yes,Private,Urban,83.75,NaN,never smoked,0,normal
5106,44873,Female,81.0,0,0,Yes,Self-employed,Urban,125.20,40.0,never smoked,0,high
5107,19723,Female,35.0,0,0,Yes,Self-employed,Rural,82.99,30.6,never smoked,0,normal
5108,37544,Male,51.0,0,0,Yes,Private,Rural,166.29,25.6,formerly smoked,0,high
5109,44679,Female,44.0,0,0,Yes,Govt_job,Urban,85.28,26.2,Unknown,0,normal

5. What is the maximum age in the original dataset? Get the records of patients with maximum age.

In [69]:
stroke_df["age"].max()

82.0

In [71]:
stroke_df[stroke_df.age == stroke_df.age.max()]

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke,classification
23,64778,Male,82.0,0,1,Yes,Private,Rural,208.30,32.5,Unknown,1,very high
32,39373,Female,82.0,1,0,Yes,Self-employed,Urban,196.92,22.2,never smoked,1,high
35,712,Female,82.0,1,1,No,Private,Rural,84.03,26.5,formerly smoked,1,normal
42,61960,Male,82.0,0,1,Yes,Private,Urban,144.90,26.4,smokes,1,high
56,38829,Female,82.0,0,0,Yes,Private,Rural,59.32,33.2,never smoked,1,normal
128,37132,Male,82.0,0,0,Yes,Govt_job,Urban,200.59,29.0,formerly smoked,1,very high
140,20439,Male,82.0,0,1,Yes,Govt_job,Rural,103.68,25.0,never smoked,1,normal
187,67895,Female,82.0,1,1,Yes,Govt_job,Urban,215.94,27.9,formerly smoked,1,very high
188,30184,Male,82.0,0,0,Yes,Private,Rural,86.62,29.5,formerly smoked,1,normal
337,56357,Female,82.0,0,1,No,Private,Urban,215.60,24.9,never smoked,0,very high
613,22853,Male,82.0,0,0,No,Self-employed,Rural,106.43,27.0,smokes,0,normal
670,53010,Male,82.0,0,0,Yes,Self-employed,Rural,56.75,21.0,never smoked,0,normal
767,62382,Male,82.0,0,0,Yes,Private,Urban,105.77,29.5,Unknown,0,normal
992,42786,Male,82.0,0,1,Yes,Self-employed,Rural,72.93,27.1,formerly smoked,0,normal
1029,23031,Male,82.0,0,0,Yes,Self-employed,Rural,85.29,27.0,never smoked,0,normal
1042,39120,Female,82.0,0,0,No,Self-employed,Urban,82.21,26.0,never smoked,0,normal
1068,24437,Female,82.0,0,0,Yes,Private,Rural,96.63,26.5,Unknown,0,normal
1350,60816,Female,82.0,1,0,Yes,Private,Urban,62.46,20.3,formerly smoked,0,normal
1412,62452,Male,82.0,1,0,Yes,Private,Rural,227.28,33.3,never smoked,0,very high
1515,72474,Female,82.0,0,0,Yes,Govt_job,Rural,58.30,20.4,never smoked,0,normal
1529,34496,Female,82.0,0,0,Yes,Private,Urban,253.16,47.5,Unknown,0,very high
1691,70344,Male,82.0,0,0,Yes,Private,Urban,144.20,35.4,smokes,0,high
1769,32452,Female,82.0,0,1,Yes,Self-employed,Rural,211.88,28.7,never smoked,0,very high
1839,25883,Female,82.0,1,0,Yes,Self-employed,Urban,77.32,24.8,Unknown,0,normal
1951,1460,Female,82.0,0,0,Yes,Private,Urban,99.68,22.2,Unknown,0,normal
2275,4591,Female,82.0,0,0,Yes,Self-employed,Rural,117.75,29.8,never smoked,0,normal
2314,24289,Male,82.0,0,0,Yes,Private,Urban,89.83,24.7,smokes,0,normal
2341,10649,Female,82.0,0,0,Yes,Private,Urban,80.00,33.6,never smoked,0,normal
2418,16812,Female,82.0,0,1,Yes,Self-employed,Rural,229.58,23.7,Unknown,0,very high
2453,7411,Male,82.0,0,0,Yes,Private,Urban,214.42,33.9,formerly smoked,0,very high
2633,72819,Female,82.0,0,0,Yes,Self-employed,Urban,243.59,24.3,never smoked,0,very high
2876,11327,Female,82.0,0,0,Yes,Self-employed,Urban,79.96,27.0,formerly smoked,0,normal
2979,57494,Female,82.0,1,0,Yes,Self-employed,Urban,107.21,27.0,formerly smoked,0,normal
3108,53252,Male,82.0,0,0,No,Self-employed,Urban,161.95,30.8,never smoked,0,high
3167,49849,Female,82.0,0,0,Yes,Private,Rural,80.96,33.7,formerly smoked,0,normal
3192,47917,Female,82.0,1,0,No,Private,Rural,61.47,22.9,never smoked,0,normal
3316,17893,Female,82.0,0,0,Yes,Self-employed,Urban,84.78,33.6,formerly smoked,0,normal
3360,4753,Male,82.0,0,1,Yes,Self-employed,Urban,228.92,27.9,formerly smoked,0,very high
3388,52679,Female,82.0,0,0,Yes,Self-employed,Rural,78.00,31.3,formerly smoked,0,normal
3400,38078,Female,82.0,1,1,Yes,Private,Urban,73.19,33.5,never smoked,0,normal
3422,34543,Female,82.0,0,0,Yes,Self-employed,Rural,84.42,25.7,Unknown,0,normal
3462,31344,Male,82.0,0,0,Yes,Self-employed,Urban,214.51,24.0,formerly smoked,0,very high
3603,28247,Male,82.0,0,0,No,Self-employed,Urban,101.57,24.3,smokes,0,normal
3637,70268,Male,82.0,0,0,Yes,Private,Urban,226.84,25.3,formerly smoked,0,very high
4088,27705,Female,82.0,0,1,Yes,Self-employed,Rural,88.60,32.5,Unknown,0,normal
4094,25510,Male,82.0,0,0,Yes,Self-employed,Urban,111.81,19.8,formerly smoked,0,normal
4164,40163,Female,82.0,1,0,Yes,Private,Urban,222.52,NaN,formerly smoked,0,very high
4452,27596,Female,82.0,1,0,Yes,Private,Urban,115.71,31.1,formerly smoked,0,normal
4511,21830,Female,82.0,0,0,Yes,Private,Urban,82.63,17.9,smokes,0,normal
4529,62715,Male,82.0,0,1,Yes,Private,Urban,57.56,27.5,never smoked,0,normal
4590,19271,Female,82.0,1,1,Yes,Self-employed,Urban,101.56,31.5,never smoked,0,normal
4716,5387,Female,82.0,0,0,No,Private,Rural,96.98,21.5,never smoked,0,normal
4763,19191,Male,82.0,0,0,Yes,Private,Urban,217.57,33.5,formerly smoked,0,very high
4819,48118,Female,82.0,0,0,Yes,Self-employed,Urban,113.45,30.3,never smoked,0,normal
5062,11184,Female,82.0,0,0,Yes,Self-employed,Rural,211.58,36.9,never smoked,0,very high
5100,68398,Male,82.0,1,0,Yes,Self-employed,Rural,71.97,28.3,never smoked,0,normal

Import the ElectricCars dataset and use it for Questions 6-10.

In [72]:
df=pd.read_csv("ElectricCars.csv")

In [73]:
df.head()

,Brand,Model,Accel,TopSpeed,Range,Efficiency,FastCharge,RapidCharge,PowerTrain,PlugType,BodyStyle,Segment,Seats,PriceEuro
0,Tesla,Model 3 Long Range Dual Motor,4.6 sec,233 km/h,450 km,161 Wh/km,940 km/h,Rapid charging possible,All Wheel Drive,Type 2 CCS,Sedan,D,5,55480
1,Volkswagen,ID.3 Pure,10.0 sec,160 km/h,270 km,167 Wh/km,250 km/h,Rapid charging possible,Rear Wheel Drive,Type 2 CCS,Hatchback,C,5,30000
2,Polestar,2,4.7 sec,210 km/h,400 km,181 Wh/km,620 km/h,Rapid charging possible,All Wheel Drive,Type 2 CCS,Liftback,D,5,56440
3,BMW,iX3,6.8 sec,180 km/h,360 km,206 Wh/km,560 km/h,Rapid charging possible,Rear Wheel Drive,Type 2 CCS,SUV,D,5,68040
4,Honda,e,9.5 sec,145 km/h,170 km,168 Wh/km,190 km/h,Rapid charging possible,Rear Wheel Drive,Type 2 CCS,Hatchback,B,4,32997

In [74]:
df.sample(10)

,Brand,Model,Accel,TopSpeed,Range,Efficiency,FastCharge,RapidCharge,PowerTrain,PlugType,BodyStyle,Segment,Seats,PriceEuro
47,Porsche,Taycan 4S,4.0 sec,250 km/h,365 km,195 Wh/km,730 km/h,Rapid charging possible,All Wheel Drive,Type 2 CCS,Sedan,F,4,102945
53,Skoda,Enyaq iV 80,8.8 sec,160 km/h,420 km,183 Wh/km,560 km/h,Rapid charging possible,Rear Wheel Drive,Type 2 CCS,SUV,C,5,40000
20,Opel,Corsa-e,8.1 sec,150 km/h,275 km,164 Wh/km,420 km/h,Rapid charging possible,Front Wheel Drive,Type 2 CCS,Hatchback,B,5,29146
34,Mazda,MX-30,9.0 sec,150 km/h,180 km,178 Wh/km,240 km/h,Rapid charging possible,Front Wheel Drive,Type 2 CCS,SUV,C,5,32646
29,Peugeot,e-2008 SUV,8.5 sec,150 km/h,250 km,180 Wh/km,380 km/h,Rapid charging possible,Front Wheel Drive,Type 2 CCS,SUV,B,5,34361
25,Volkswagen,ID.4,7.5 sec,160 km/h,420 km,183 Wh/km,560 km/h,Rapid charging possible,Rear Wheel Drive,Type 2 CCS,SUV,C,5,45000
98,Nissan,Ariya 63kWh,7.5 sec,160 km/h,330 km,191 Wh/km,440 km/h,Rapid charging possible,Front Wheel Drive,Type 2 CCS,Hatchback,C,5,45000
89,Skoda,Enyaq iV 60,9.0 sec,160 km/h,320 km,181 Wh/km,440 km/h,Rapid charging possible,Rear Wheel Drive,Type 2 CCS,SUV,C,5,37500
10,Mercedes,EQC 400 4MATIC,5.1 sec,180 km/h,370 km,216 Wh/km,440 km/h,Rapid charging possible,All Wheel Drive,Type 2 CCS,SUV,D,5,69484
37,CUPRA,el-Born,6.5 sec,160 km/h,425 km,181 Wh/km,570 km/h,Rapid charging possible,Rear Wheel Drive,Type 2 CCS,Hatchback,C,4,45000

In [75]:
df.shape

(103, 14)

In [76]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 103 entries, 0 to 102
Data columns (total 14 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Brand        103 non-null    object
 1   Model        103 non-null    object
 2   Accel        103 non-null    object
 3   TopSpeed     103 non-null    object
 4   Range        103 non-null    object
 5   Efficiency   103 non-null    object
 6   FastCharge   103 non-null    object
 7   RapidCharge  103 non-null    object
 8   PowerTrain   103 non-null    object
 9   PlugType     103 non-null    object
 10  BodyStyle    103 non-null    object
 11  Segment      103 non-null    object
 12  Seats        103 non-null    int64
 13  PriceEuro    103 non-null    int64
dtypes: int64(2), object(12)
memory usage: 11.4+ KB

6. Write a Pandas program to get the different values of the 'Brand' column. Get the top 5 most frequent brands. Which brand has the most records in the ElectricCars dataset?

In [77]:
df.Brand.unique()

array(['Tesla ', 'Volkswagen ', 'Polestar ', 'BMW ', 'Honda ', 'Lucid ',
       'Peugeot ', 'Audi ', 'Mercedes ', 'Nissan ', 'Hyundai ',
       'Porsche ', 'MG ', 'Mini ', 'Opel ', 'Skoda ', 'Volvo ', 'Kia ',
       'Renault ', 'Mazda ', 'Lexus ', 'CUPRA ', 'SEAT ', 'Lightyear ',
       'Aiways ', 'DS ', 'Citroen ', 'Jaguar ', 'Ford ', 'Byton ',
       'Sono ', 'Smart ', 'Fiat '], dtype=object)

In [80]:
df.Brand.value_counts() //Top 5 brands are Tesla,Audi,Nissan,Volkswagen,Skoda

Tesla          13
Audi            9
Nissan          8
Volkswagen      8
Skoda           6
Kia             5
Porsche         5
Renault         5
BMW             4
Ford            4
Opel            3
Byton           3
Mercedes        3
Smart           3
Hyundai         3
Honda           2
Peugeot         2
Fiat            2
Polestar        1
DS              1
Lexus           1
Volvo           1
MG              1
Lucid           1
Aiways          1
Mazda           1
Sono            1
Lightyear       1
SEAT            1
CUPRA           1
Mini            1
Jaguar          1
Citroen         1
Name: Brand, dtype: int64

7. What is the maximum PriceEuro? Get the record of the car with this maximum price.

In [81]:
df.PriceEuro.max()

215000

In [82]:
df[df.PriceEuro == df.PriceEuro.max()]

,Brand,Model,Accel,TopSpeed,Range,Efficiency,FastCharge,RapidCharge,PowerTrain,PlugType,BodyStyle,Segment,Seats,PriceEuro
51,Tesla,Roadster,2.1 sec,410 km/h,970 km,206 Wh/km,920 km/h,Rapid charging possible,All Wheel Drive,Type 2 CCS,Cabrio,S,4,215000

8. What is the miniumum TopSpeed? Get the record of the car with this speed.

In [83]:
df.TopSpeed.min()

'123 km/h'

In [84]:
df[df.TopSpeed == df.TopSpeed.min()]

,Brand,Model,Accel,TopSpeed,Range,Efficiency,FastCharge,RapidCharge,PowerTrain,PlugType,BodyStyle,Segment,Seats,PriceEuro
66,Nissan,e-NV200 Evalia,14.0 sec,123 km/h,190 km,200 Wh/km,190 km/h,Rapid charging possible,Front Wheel Drive,Type 1 CHAdeMO,SPV,N,7,33246

9. Write a program that calculates the sum of the prices of all cars in the dataset.

In [85]:
df.PriceEuro.sum()

5748591

10. What is there a correlation between 'Seats' and 'PriceEuro'? Explain in words if this is a strong or weak correlation.

In [87]:
correlation = df.corr()

In [88]:
correlation['PriceEuro'].sort_values(ascending=False)

PriceEuro    1.00000
Seats        0.02092
Name: PriceEuro, dtype: float64

The correlation coefficient ranges from -1 to +1.

When it is close to +1, this signifies that there is a strong positive correlation. So, we can see that there is no strong positive correlation between PriceEuro and Seats.

When it is clsoe to -1, it means that there is a strong negative correlation. When it is close to 0, it means that there is no correlation.

We can see that Seats variable is not correlated with PriceEuro variable.